mkdocs==1.2.3
mkdocs-material==8.1.10
mkdocs-material-extensions==1.0.3
mkdocs-macros-plugin==0.6.0
markdown-link-attr-modifier==0.2.0
mkdocs-git-revision-date-localized-plugin==0.12.1
PyYAML==6.0.0
tqdm==4.62.3
